.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: 0 auto;

  .DebugInput {
    font-size: 90%;
    font-family: monospace;
    opacity: 0.7;
    margin-top: 1em;
  }
}
