.AvailableWords {
    margin: 3px;

    span {
        display: inline-block;
        padding: 3px;
        border: 1px solid darkgray;
        background-color: lightgray;
        border-radius: 2px;
        margin-right: 2px;
        cursor: pointer;
    }
}